body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
}

.form {
  position: absolute;
  top: 30%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  background-color: yellow;
  border-radius: 8px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  /* border-radius: 8px 8px 0 0; */
  border: none;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-top: dashed 2px darkgray;
  position: relative;
}

.list li:first-child {
  border-top: none;
}

.list li .fa-regular {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li .fa-trash-can {
  color: red;
  right: 20px;
}

.list li .fa-square-check {
  color: green;
  right: 40px;
}

.list li.checked {
  color: darkgrey;
  text-decoration: line-through;
}

.list li.checked .fa-square-check {
  color: darkgray;
}
