@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 100px;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: brightness(0.5); */
  letter-spacing: 4px;
  transition: color 2s;
}

.btn {
  background-color: black;
  color: white;
  padding: 20px 40px;
  border: 4px solid;
  font-size: 50px;
  cursor: pointer;
  transition: background-color 1s;
  transition: transform 2s;
  white-space: nowrap;
  font-family: "Aboreto", cursive;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
}
.split {
  width: 50%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.split.left {
  position: absolute;
  left: 0;
  background-color: pink;
  background-image: url("https://m.media-amazon.com/images/I/61o3iuZ0aXL._AC_SL1500_.jpg");
  background-size: cover;
}

.split.right {
  position: absolute;
  right: 0;
  background-color: lightblue;
  background-image: url("https://m.media-amazon.com/images/I/816K5NUzqjL._AC_SL1500_.jpg");
  background-size: cover;
}

.active-left .left {
  width: 75%;
}

.active-left .right {
  width: 25%;
}

.active-left .right h1 {
  color: transparent;
}

.active-left #btn-right {
  transform: translateX(500px);
}

.active-right .left {
  width: 25%;
}

.active-right .right {
  width: 75%;
}

.active-right .left h1 {
  color: transparent;
}
.active-right #btn-left {
  transform: translateX(-500px);
}

.left,
.right {
  transition: width 2s ease-in-out;
}
